<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preskriber</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/assets/css/user.css">
    <link rel="stylesheet" href="static/assets/css/Pretty-Registration-Form.css">
</head>

<body>
    <div class="container-fluid">
        <div class="page-header">
            <h2 class="text-muted"><strong>Preskriber</strong> </h2></div>
    </div>
    <div class="container">
        <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
            <div>
                    {% with errors = get_flashed_messages(category_filter=["info"]) %}
                        {% if errors %}
                        <div class="alert alert-info dismissible text-center" role="alert"">
                            <a class="close" href="check">×</a>
                                <ul class="list-unstyled text-center">
                                {%- for msg in errors %}
                                    <li><strong>{{ msg }}</strong></li>
                                {% endfor -%}
                                </ul>
                        </div>
                        {% endif %}
                    {% endwith %}
                    {% with errors = get_flashed_messages(category_filter=["error"]) %}
                        {% if errors %}
                        <div class="alert alert-danger dismissible text-center" role="alert"">
                            <a class="close" href="check">×</a>
                                <ul class="list-unstyled text-center">
                                {%- for msg in errors %}
                                    <li><strong>{{ msg }}</strong></li>
                                {% endfor -%}
                                </ul>
                        </div>
                        {% endif %}
                    {% endwith %} 
            </div>
            <div class="panel" id="check">
                {% if result=="drug"%}
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="text-center">
                            {{ drug.Drug_Name|e }}
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="text-center">
                            {{ drug.Manufacturer|e }}
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="text-center">
                            {{ drug.drug_description|e }}
                        </span>
                    </li>
                    <li class="list-group-item">
                        <span class="text-center">
                            {{ drug.First_Name|e }}
                        </span>
                    </li>
                </ul>
                {% else %}
                <form action="check_drug" method="POST" class="bootstrap-form-with-validation">
                    <div class="form-group">
                        <label class="control-label">Check Drug</label>
                        <p class="form-static-control">Check if a drug is listed under the NAFDAC list of banned drugs in Nigeria.</p>
                    </div>
                    <div class="form-group">
                        <input class="form-control input-lg" type="text" name="drug_name" value="{{request.form.drug_name}}" required="" id="Drug_Name" autofocus="">
                        <label class="form-control-placeholder" for="name">*Drug Name</label>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary center-block" type="submit"><strong>Submit</strong> </button>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
    <footer class="site-footer">
        <div class="container">
            <hr>
            <div class="row">
                <div class="col-sm-6">
                    <h5 class="text-muted">Preskriber © 2018</h5></div>
                <div class="col-sm-6 social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-youtube"></i></a></div>
            </div>
        </div>
    </footer>
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>